@media screen and (max-width: 920px){
   #nav{
      flex-direction: column;
     }
  
   article{
      margin: 0 auto;
   }

   h2{
    font-size: 38px;
   }

   form{
    margin: 0 auto;
   }

   input{
    width: 100%;
    align-self: center;
   }

   .img-desktop{
    display: none;
   }

   ul{
    text-align: center;
   }
}